.body {
    background-color: #f0f0f0;
    background-image: url('background-image.jpg');
    background-size: cover;
}
.container.regFormContainer {
    background-color: #E6E6FA;
    padding: 50px 0 20px 50px;
    margin-bottom: 50px;
}



